* {
 box-sizing: border-box;
}
body{
    text-align: center;
    background-color: #EEF9BF;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.title{
    width: 100vw;
    margin-top: 40px;
    height: 63px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #75B79E;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 66px;
    letter-spacing: -0.004em;
    
}

.contents{
    width: 70vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card{
    margin-top: 47px;
    margin-left: 34px;
    width: 117px;
    height: 146px;
    position: relative;
    flex-shrink: 0;
}

.face1 {
    width: 100%;
    height: 100%;
    background-color: #A7E9AF;
    border-radius: 10px;
    box-shadow: 1px 1px 1px rgba(0,0,0,.3);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    backface-visibility: hidden;
    transition: all .5s;
    transform-style: preserve-3d;
  }
  .face2 {
    width: 100%;
    height: 100%;
    background-color: #A7E9AF;
    border-radius: 10px;
    box-shadow: 1px 1px 1px rgba(0,0,0,.3);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    backface-visibility: hidden;
    transition: all .5s;
    transform-style: preserve-3d;
  }

  .back{
    transform: rotateY(180deg);
  }

  .back-face {
    transform: rotateY(0deg);
  }

   .front-face {
    transform: rotateY(-180deg);
  }

  img {
    width: 85%;
  }

  @media (max-width:767px) {
    .title{
      width: 100vw;
      margin-top: 40px;
      height: 63px;
      display: flex;
      justify-content: center;
      color: #75B79E; 
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 700;
      font-size: 36px;
      line-height: 42px;
      letter-spacing: -0.004em;

    }
  }
